body{
    background-color: #e3e3e3;
}
.wrap{
    width:30%;
    height:350px;
    background:white;
    text-align:center;
    top:25%;
    left:35%;
    position:absolute;
    box-shadow:0 0 40px 0 rgba(0, 0, 0, 0.2), 0 10px 10px 0 rgba(0, 0, 0, 0.24);;
}




.wrap .head h1{
    margin-top:1px;
    text-align:center;
    font-family: Laksaman;
    font-weight: bolder;
    color:green;
    font-size:25px;

}
.wrap .form{
    margin:5%;

}

.wrap .form p{
    font-size:16px;
    font-weight:bold;
    margin-top:10px;
    margin-bottom:3px;
    color:#000000;
    margin-left: 1px;
}
.wrap .form input{
    width:90%;
}

.wrap .form input[type="text"],input[type="password"] {
    color:black;
}

.wrap .form input[type="submit"]{
    color: black;
    width: 30%;
    margin-top: 10px;
}

.wrap .form input[type="submit"]:hover{
    color:darkred;
}

.wrap .sigin a{
    text-decoration: none;
    color: darkslategray;
}

.wrap .sigin a:hover{
    color:crimson;
}